<div class="main-content">
  <p><span class="title">Admin Links:</span></p>
  <p><%= link_to "create a new project", new_project_path %></p>
  <p><%= link_to "manage projects", manage_projects_path %></p>
  <p><%= link_to "update homepage content", edit_info_path %></p>
</div>
